<!DOCTYPE html>
<html>
<head>
  <title>CarPicture</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true%>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <style>

  </style>

</head>

<body onload="galF(); Scroll();">

<script>
    function Scroll(){
// Cache the Window object
        $window = $(window);
        $('div[data-type="background"]').each(function(){
            var $bgobj = $(this); // assigning the object

            $(window).scroll(function() {
                // Scroll the background at var speed
                // the yPos is a negative value because we're scrolling it UP!
                var yPos = -($window.scrollTop() / $bgobj.data('speed'));

                // Put together our final background position
                var coords = '50% '+ yPos + 'px';

                // Move the background
                $bgobj.css({ backgroundPosition: coords });

            });
        });
        $('section[data-type="background"]').each(function(){
            var $bgobj = $(this); // assigning the object

            $(window).scroll(function() {
                // Scroll the background at var speed
                // the yPos is a negative value because we're scrolling it UP!
                var yPos = -($window.scrollTop() / $bgobj.data('speed'));

                // Put together our final background position
                var coords = '50% '+ yPos + 'px';

                // Move the background
                $bgobj.css({ backgroundPosition: coords });

            }); // window scroll Ends

        });

    };
</script>
<section id="home" data-type="background" data-speed="10" class="pages">
  <div id="boxcontainer">
    <div id="bg"></div>
    <div id="article">
      <h2>Zédoule</h2>
      <h5><a href="https://www.flickr.com/photos/63680264@N05" >Flickr »</a></h5>
    </div>
  </div>
</section>

<section id="about" data-type="background" data-speed="10" class="pages">
  <section id="about2" class= "pages">
    <div id="container">
      <div id="menu">
        <a href="https://www.flickr.com/photos/63680264@N05/sets/72157630019907557/">Zédoule mobile</a>
        <a href="https://www.flickr.com/photos/63680264@N05/sets/72157629247730828/">Sportives</a>
        <a href="https://www.flickr.com/photos/63680264@N05/sets/72157629154511850/">Auto Rencard</a>
      </div>
      <a id="fullscreen" href="#">Enter fullscreen</a>
      <div id="gallery">
        <div id="galleria" class="pages" data-type="background" data-speed="10" >

        </div>
      </div>

    </div>

    <script>

        // load the theme
        Galleria.loadTheme('assets/galleria.classic.min.js');

        // create a flickr instance
        var flickr = new Galleria.Flickr();
        // cache the gallery
        var elem = $('#galleria');
        // create and append the loader growl
        var loader = $('<div>', {
            id: 'loader'
        }).appendTo('#gallery');

        // a local var used later
        var set;
        var user;

        // set flickr to fetch description and increase the photo limit
        flickr.setOptions({
            max: 500,
            description: true
        });

        // attach event handler for the menu
        $('#menu a').click(function(e) {

            e.preventDefault();

            // toggle active class
            $(this).addClass('active').siblings('.active').removeClass('active');

            // extract the set id from the link href
            set = this.href.split('/');
            set = set[set.length-2];


            // add loader text and show
            loader.text('Loading '+$(this).text()).show();

            // load the set
            flickr.set(set, function(data) {
                // hide the loader
                loader.fadeOut('fast');

                // check if galleria has been initialized
                if (elem.data('galleria')) {

                    // load galleria with the new data
                    elem.data('galleria').load( data );

                    // else initialize galleria (1st time)
                } else {
                    elem.galleria({

                        // add the data as dataSource
                        dataSource: data,

                        // add a custom fullscreen button
                        extend: function() {
                            $('#fullscreen').click(this.proxy(function(e) {
                                e.preventDefault();

                                // call the enterFullscreen() method from the galleria API
                                this.enterFullscreen();
                            }));
                        }
                    });
                }
            });
        });

        // trigger a click onload so that the first gallery will be displayed when entering
        $('#menu a:first-child').click();

    </script>
    <script>
        function galF(){
            var t= document.getElementsByClassName("galleria-container notouch");
            t[0].className = "galleria-container notouch pages";
            t[0].dataset.type = "background";
            t[0].dataset.speed = "10";
        };

    </script>
  </section>
</section>



</body>
</html>
